
.alert{
    color:red;
    margin-bottom:0px !important;
    
}
input.col-sm-8.inp-bx{
    width:16%;
}

.addBtn{
    float: right;
    color: #15a535;
    padding:8px;
}

.minusBtn{
    color:red;
    float:right;
    padding:8px;
}

.bk{
    padding:10px;
    color:black;
    font-weight: bold;
    float: right;
    cursor: default;
    font-size: 16px;
}