
.alert{
    color:red;
    margin-bottom:0px !important;
    
}

.addBtn{
    float: right;
    color: #15a535;
}

.minusBtn{
    color:red;
    float:right;
}

.bk{
    padding:10px;
    color:black;
    font-weight: bold;
    float: right;
    cursor: default;
    font-size: 16px;
}