<h2>Page 1</h2>
<div class="container">
<p style="font-size:18px;">Choose User Type</p>
<select style="padding: 5px;width: 15%;" class="browser-default custom-select" [(ngModel)]='selectedValue'>
  <option *ngFor="let user of users" value="{{user.value}}">
      {{user.viewValue}}
  </option>
</select>
<p *ngIf ="selectedValue == undefined" style="color:red;">{{error}}</p>
<div class="float-left" style="margin-top:20px;">
  <button type="button" class="btn btn-success" (click)="login()">Submit</button>
</div>
</div>
